body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff5f5f;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.product {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: url(./img/background.png);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  border: solid #ff5f5f;
}

.product:not(:last-child) {
  margin-right: 20px;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  border: solid red;
}

.product h2 {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.product p {
  font-size: 16px;
  margin-top: 5px;
  color: white;
}

.btn {
  display: inline-block;
  background-color: #ff5f5f;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #e54747;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-icon {
  margin-left: auto;
}

.cart-icon a:hover {
  color: black;
}

@media (max-width: 768px) {
  nav {
    padding: 0;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16vh;
  }

  nav ul li {
    float: none;
    margin-bottom: 10px;
  }

  .cart-icon {
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  nav {
    padding: 5px 10px;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    float: none;
    margin-bottom: 10px;
  }

  .container {
    padding: 10px;
  }

  .product {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .product img {
    margin-bottom: 5px;
  }

  .product h2 {
    font-size: 16px;
    margin-top: 5px;
  }

  .product p {
    font-size: 14px;
    margin-top: 3px;
  }
}

@media (max-width: 620px) {
  .container {
    flex-direction: column;
  }

  .product {
    width: 100%;
    margin: 10px 0;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }

  nav ul li {
    text-align: center;
  }

  footer {
    position: fixed; /* Alterado de absolute para fixed */
    left: 0;
    right: 0;
    bottom: 0;
  }
}
